// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$primary-color: #ffffff;
$secondary-color: black;

body {
  background-image: image-url("background-image-1.jpg");
  background-size: cover;
  min-height: 100vh;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

// navbar elements

navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 120px;
}

.authorea-logo {
  max-width: 170px;
}

.nav-list-right {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  float: right;
  margin-right: 40px;
  list-style: none;
  align-items: center;
}

.nav-list-right li {
  margin-right: 40px;
  font-size: 13px;
  font-family: 'open-sans', sans-serif;
  text-transform: uppercase;
  color: $primary-color;
}

.nav-link {
  list-style: none;
  display: block;
  float: right;
  color: $primary-color;
}

.nav-link:hover {
  color: $primary-color;
}

.nav-link:active {
  color: $primary-color;
}

.nav-link:visited {
  color: $primary-color;
}

.signup {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: center;
  font-size: 13px;
  text-align: center;
  height: 40px;
  width: 130px;
  padding: 5px 30px 5px 30px;
  border-radius: 50px;
  border: 1px solid $primary-color;
  text-transform: uppercase;
  color: $primary-color;
}

.signup:hover {
  font-family: 'Lato', sans-serif;
  cursor: pointer;
  font-size: 14px;
  padding: 5px 30px 5px 30px;
  border-radius: 50px;
  border: 1px solid $primary-color;
  text-transform: uppercase;
  background-color:$primary-color;
  color: $secondary-color;
}

// center-content

.welcome-container {
  flex: 1;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.tag-line {
  max-width: 800px;
  margin: 0 auto;
}

.tag-line h2, p {
  color: #ffffff;
}

.tag-line h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 64px;
  line-height: 120%;
}

.tag-line p {
  font-size: 16px;
  max-width: 450px;
  margin: 0 auto;
  line-height: 175%;
  padding-bottom: 40px;
}

.landing-form input {
  margin: 5px;
  height: 40px;
  width: 220px;
}


.landing-form input#name {
  padding-left: 20px;
}

.landing-form .start-button {
  text-decoration: none;
  margin-top: 20px;
  background-color: Transparent;
  background-repeat:no-repeat;
  color: #ffffff;
  font-family: 'open-sans', sans-serif;
  text-transform: uppercase;
  width: 350px;
  font-size: 12px;
  padding-top:5px;
  padding-bottom:5px;
  font-weight: 0.5;
  border: 1px solid #ffffff;
  border-radius: 2px;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.start-button:hover {
  background: #f6f6f6;
  border: 1px solid $secondary-color;
  color: $secondary-color;
}

.flex-filler {
  height: 40px;
}

footer {
  flex: none;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  width: 100%;
  background: #F6F6F6;
  background-repeat: repeat-y;
}

footer .footer {
  align-self: flex-end;
  height: 40px;
}

.footer p {
  font-size: 12px;
  padding-top: 8px;
  justify-content: center;
  text-align: center;
  font-family: 'open-sans', sans-serif;
  color: $secondary-color;
}

.footer span {
  color: #ceb018;
  font-weight: bold;
}

::-webkit-input-placeholder,
         ::-moz-placeholder,
     :-ms-input-placeholder,
          :-moz-placeholder {
  font-family: 'open-sans', sans-serif;
}


@media only screen and (max-width: 600px){
  .tag-line h2 {
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 32px;
      line-height: 120%;
  }

  .nav-list-right {
    display: none;
  }

  .footer {
    display: none;
  }
}
